<h1>管理者ホーム</h1>

<h2>従業員リスト</h2>
<div class="row">
  <% @employees.each do |employee| %>

  <div class="col-sm-12 col-md-6">
    <div class="card img-thumbnail text-center">
      <img class="card-img-top" src="/assets/sample.png" alt="画像" style="max-width:300px; margin:auto;">
      <div class="card-body px-2 py-3">
        <h5 class="card-title"><%=employee.username%></h5>
        <%= link_to "給与まとめ",admin_show_path(id:employee.id),class:"btn btn-primary btn-sm"%>
        <%= link_to "勤怠管理",admin_attendance_path(id:employee.id),class:"btn btn-secondary btn-sm"%><br>
      </div><!-- /.card-body -->
    </div><!-- /.card -->
  </div><!-- /.col-sm-6.col-md-3 -->
  <% end %>
</div><!-- /.row -->
